# Node & Application Config
NODE_ENV=production
PORT=3000

# PostgreSQL Configuration
DB_TYPE=postgres
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres_secure_pass
DB_DATABASE=coldchain_db

# MongoDB Atlas Configuration (IoT Raw Telemetry Log)
MONGO_URI=mongodb+srv://<ATLAS_USER>:<ATLAS_PASSWORD>@cluster0.xxxxx.mongodb.net/coldchain?retryWrites=true&w=majority

# Redis Cache Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Web3 & Smart Contract
CONTRACT_ADDRESS=0xc4040d7Cdbc6923500A94427DB9c78156d70849A