# Application
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=coldchain_db

# Auth
JWT_SECRET=jwt_secret_key

# MongoDB
MONGO_URI=mongodb://localhost:27018/coldchain

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Blockchain
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_ALCHEMY_API_KEY
CONTRACT_ADDRESS=0xc4040d7Cdbc6923500A94427DB9c78156d70849A
PRIVATE_KEY=0xYOUR_PRIVATE_KEY